{% extends 'default.html' %}
{% load i18n %}


{% block title %} title {% endblock title %}

{% block content %}

<div class="container d-grid gap-3">
    <div class="p-3 bg-light border">
<!--    Subscribe-->
    <h2><b>{% trans "List of categories" %}:</b></h2>
        <div class="p-3">
            {% for cat in categories_list %}
            <a class="btn btn-secondary" href="{{ cat.id }}" role="button">{{ cat }}</a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
