{% extends 'default.html' %}

{% block title %} categories {% endblock title %}

{% block content %}

<div class="container d-grid gap-3">
    <div class="p-3 bg-light border">
<!--    Subscribe-->
    <a class="btn btn-secondary" href="#" role="button">Подписаться</a>

    <b><h3>Список категорий:</h3></b>
        <ul>
            {% for cat in category_list %}
        <li>
           <h4>{{ cat.category_name }}</h4>
        </li>
    {% endfor %}
     </ul>
    </div>
</div>

{% endblock content %}

