{% extends 'default.html' %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}
 <div class="container px-lg-3 text-center">
</div>
    {% if not is_not_subscriber %}
    <div class="p-3">
        <a class="btn btn-primary" href="{{ category_post_detail.id }}/subscribe/" role="button">Подписаться на рассылку данной категории новостей</a>
    </div>
        {% for post in category_list %}
          <div class="mb-3">
                <h5>  {{ post.title|truncatechars:100 }} </h5>
                <h6>Категория: {{ category_post_detail }} </h6>
                <h6>Тип публикации: {{ post.get_choice_types_display }}</h6>
                <h6>Дата публикации: {{ post.time_in|date:'d M Y' }} </h6>
                <h6>Автор публикации: {{ post.author.user }} </h6>
                <span>Публикация: {{ post.content|truncatechars:100 }}</span>
          </div>
        {% endfor %}

    {% else %}
        <div class="p-3">
            <h4> Вы уже подписаны
                <a class="btn btn-primary" href="{{ category_post_detail.id }}/unsubscribe/" role="button">Отписаться от рассылки данной категории новостей</a>
            </h4>
        </div>
    {% endif %}

</div>
</div>


{% endblock content %}
