{% extends 'default.html' %}
{% load custom_filters %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
<a class="btn btn-secondary" href="{{ post.pk }}/update/" role="button">Update</a>
<a class="btn btn-primary" href="{{ post.pk }}/delete/" role="button">Delete</a>
<br>

<h4>{{ post.title|censor }}</h4>
<h6>{{ post.time_in|date:'d M Y' }}</h6>
<!--выбор поста: новость или статья-->
<h6>{{  post.get_choice_types_display }}</h6>

<p>{{ post.content|censor }}</p>
{% endblock content %}