{% extends 'default.html' %}
{% block title %} {{ title }} {% endblock title %}
{% load cache %}

{% cache 300 content %}

{% block content %}
 <div class="container px-lg-3 text-center">

</div>
    <a class="btn btn-primary" href="/news/create/" role="button">Create New</a>
    <a class="btn btn-primary" href="/news/articles/create/" role="button">Create Article</a>
    <br>
    <h3>Количество постов: {{ page_obj.paginator.count }}</h3>
    <br>
    {% for post in posts %}
      <div class="mb-3">
      <h5><b class="text-center"><a href={{ post.pk }} class="btn btn-secondary">{{ post.title|truncatechars:100 }}</a></b></h5>
{% comment "Comment" %} <h5><b class="text-center"><a href="{% url 'post_detail' post.id %}" class="btn btn-secondary">{{ post.title|truncatechars:100 }}</a></b></h5> {% endcomment %}
      <h6>Тип публикации: {{ post.get_choice_types_display }}</h6>
      <h6>Дата публикации: {{ post.time_in|date:'d M Y' }} </h6>
      <h6>Автор публикации: {{ post.author }} </h6>
      <h6> Категория публикации: {{ post.get_categories_post }} </h6>
      <span>Публикация: {{ post.content|truncatechars:100 }}</span>
      </div>
    {% empty %}
        <h3>Новостей нет!</h3>
    {% endfor %}


</div>
<!-- Добавляем пагинацию на страницу -->

<div class="pagination">    <!-- Информация о предыдущих страницах -->
   <span>
      {% if page_obj.has_previous %}
         <a href="?page=1">&laquo; first</a>
         <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

       <span class="current">
         Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

       {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
       {% endif %}

   </span>
</div>


{% endblock content %}

{% endcache %}
