{% extends 'default.html' %}
{% block title %} posts {% endblock title %}

{% block content %}
<h4>Все новости: {{ posts|length }}</h4>
<ul>
{% if posts %}
    {% for post in posts %}
   <li>
      <h5><b class="text-center"><a href={{ post.pk }} class="btn btn-secondary">Заголовок: {{ post.title|truncatechars:20 }}</a></b></h5>
      <h6>Дата дата публикауции: {{ post.time_in|date:'d M Y' }} </h6>
      <p>Текст: {{ post.content|truncatechars:20 }}</p>
<!--      <p>{{ post.get_choice_types_display }}</p>-->
      <hr>
   </li>
{% endfor %}
</ul>
{% else %}
<h3>Новостей нет!</h3>
{% endif %}


{% endblock content %}

