{% extends 'default.html' %}
{% block title %} {{ get_title }} {% endblock title %}

{% load i18n %}

{% block content %}
<div class="container d-grid gap-3">
    <div class="p-2 bg-light border">
        <h3 class="text-center">{{ get_create_update }}</h3>
    </div>
    <form action="" method="post" novalidate>
      {% csrf_token %}
       <div class="mb-3">
            <h4>{% trans "Author" %}: {{ form.author }}</h4>
            <h4>{% trans "List of categories" %}: {{ form.categories_post }}</h4>
            <h4>{% trans "New rate" %} {{ form.rate_new }} </h4>
            <h4>{% trans "Title" %}: {{ form.title }} </h4>
            <h4>{% trans "Content" %}: {{ form.content }} </h4>
            <input class="btn btn-lg btn-primary" type="submit" value="save" />
      </div>
    </form>
</div>
{% endblock content %}