{% extends 'default.html' %}
{% load custom_filters %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
<div class="container">
    <div class="mb-2">
    {% if post.choice_types == 'AR' %}
    <a class="btn btn-secondary" href="/news/articles/{{ post.pk }}/edit/" role="button">Update Article</a>
    {% else %}
    <a class="btn btn-secondary" href="/news/{{ post.pk }}/edit/" role="button">Update News</a>
    {% endif %}
    <a class="btn btn-primary" href="{{ post.pk }}/delete/" role="button">Delete</a>

    </div>
<br>
    <div class="mb-3">
        <div class="row justify-content-center">
            <div class="col-md-5 d-flex">
                <div  class="mx-auto">
                <h4 class="text-lg-left">Заголовок: {{ post.title|censor }}</h4>
                <h6 class="text-lg-left">Дата публикации: {{ post.time_in|date:'d M Y' }}</h6>
                <h6 class="text-lg-left">Автор: {{ post.author.user }}</h6>
                <h6 class="text-lg-left">{{ post.get_choice_types_display }}</h6>
                <h6 class="text-lg-left">{{ post.content|censor }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}