{% extends 'default.html' %}
{% load i18n %}

{% block title %}
   {% trans Profile %}
{% endblock title %}

{% block content %}
    <h3>{% trans Access closed %}</h3>
    <br>
    <h5>{% trans You are not the author and cannot create or edit news and articles %}</h5>
    <br><br>
    <hr>
    <div class="text-center" >
        <button class="btn btn-lg btn-dark"><a style="text-decoration: none; color: white" href="/news/profile/upgrade/">{%  trans Become an author %}</a></button>
        <button class="btn btn-lg btn-dark"><a style="text-decoration: none; color: white" href="/news/">{% trans To main %}</a></button>
    </div>
{% endblock content %}