<!DOCTYPE html>
{% load cache %} <!-- Загружаем кэширование -->
{% load i18n %}
{% load tz %} <!-- не забываем загрузить тег для работы с часовыми поясами -->

<html height: 100%; lang="en" xmlns:height="http://www.w3.org/1999/xhtml" xmlns:margin="http://www.w3.org/1999/xhtml"
      xmlns:min-height="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} {{ title }} {% endblock title %}</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link href="{% static 'news/css/styles.css' %}" rel="stylesheet" />
<!--        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
<style>
     body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
</style>
    </head>
    <body class="d-flex flex-column h-100">
    {% cache 60 header %}
    <header>
  <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">News Portal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   <ul class="navbar-nav ms-auto mb-2  mb-2 mb-lg-0">
                        <li class="nav-item active"><a class="nav-link active" aria-current="page" href="../">{% translate "Main" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="/profile/">{% trans "Profile" %}</a></li>

                        <li class="nav-item">{% if user.is_authenticated %}<a class="nav-link active)">| {{ request.user.username }} |</a>{% endif %}</li>
                        <li class="nav-item"> {% if not user.is_authenticated %} <a class="nav-link" href='{% url "account_login" %}'>{% trans "To come in" %}</a>{% endif %}</li>
                        <li class="nav-item"> {% if not user.is_authenticated %} <a class="nav-link" href='{% url "account_signup" %}'>{% trans "Registration" %}</a>{% endif %}</li>
                        <li class="nav-item">{% if user.is_authenticated %}<a class="nav-link" href='{% url "account_logout" %}'>{% trans "Go out" %}</a>{% endif %}</li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% translate "Models" %}</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
<!--                                <li><hr class="dropdown-divider"></li>-->
                       <li><a class="dropdown-item" href="/news/">{% translate "Posts" %}</a></li>
                       <li><a class="dropdown-item" href="/authors/">{% translate "Authors" %}</a></li>
                       <li><a class="dropdown-item" href="/categories/">{% translate "Categories" %}</a></li>
                       <li><a class="dropdown-item" href="/comments/">{% translate "Comments" %}</a></li>
                            </ul>
                        </li>
<!--                       <li class="nav-item"><a class="nav-link" href="/news/search/">{% trans "Search" %}</a></li>-->
                       <li class="nav-item"><a class="nav-link" href="/admin/">{% trans "Admin" %}</a></li>
                   </ul>
                </div>
            </div>
        </nav>
    </header>
{% endcache %}
<!-- Begin page content -->
    <main class="flex mt-1">
        <div class="flex flex-column mb-2">
        <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %}
            <input type="hidden" name="next" value="{{ redirect_to }}">
            <select name="language" id="">
               {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
               {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

               {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
              {% endfor %}
                <input type="submit" value="set">
            </select>
        </form>
        </div>
        {% get_current_timezone as TIME_ZONE %}
        <div class="flex flex-column mb-2">
            <form action="" method="POST">
                {% csrf_token %}
                <label for="timezone">Time zone:</label>
                <select name="timezone">
                    {% for tz in timezones %}
                    <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Set">
            </form>
        {{ TIME_ZONE }}
        {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->
</div>

        <div class="container">
           {% block content %}

           {% endblock %}
        </div>
    </main>
<!--      Footer-->
        <footer class="py-3 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white fixed-button">Copyright &copy; Your News Portal 2024</p></div>
        </footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </body>
</html>
